<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body><div style="background-image:url('https://abm-website-assets.s3.amazonaws.com/rdmag.com/s3fs-public/embedded_image/2019/03/shutterstock_674497363%284%29.jpg');padding:0px;width:100%;height:100%;border:1px solid black;background-size: 100% 100%;"/>
<div>
  <div class='center'>
    <div class='title'>WELCOME TO EZMATA TECHNOLOGIES</div>
    <p>
       <strong>Predict Cancer with the help of images</strong>
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
